<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
	<RunConfiguration>
		<EnvironmentVariables>
			<BROWSER>chrome</BROWSER>
			<BASEURL>https://www.edgewordstraining.co.uk/demo-site/</BASEURL>
		</EnvironmentVariables>
	</RunConfiguration>
	<TestRunParameters>
		<Parameter name="username" value="tomasz.tlalka@nfocus.co.uk" />
		<Parameter name="password" value="Edgewords420Training" />
		<Parameter name="shipping_fee" value="3.95" />
	</TestRunParameters>
</RunSettings>
