<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
	<TestRunParameters>
		<Parameter name="browser" value="chrome" />
		<Parameter name="item" value="Cap" />
		<Parameter name="baseURL" value="https://www.edgewordstraining.co.uk/demo-site/" />
		<Parameter name="username" value="tomasz.tlalka@nfocus.co.uk" />
		<Parameter name="password" value="Edgewords420Training" />
		<Parameter name="shipping_fee" value="3.95" />
		<Parameter name="first_name" value="John" />
		<Parameter name="last_name" value="Smith" />
		<Parameter name="address_1" value="63 London Road" />
		<Parameter name="city" value="London" />
		<Parameter name="postcode" value="LD164GB" />
		<Parameter name="phone" value="07134490550" />
	</TestRunParameters>
</RunSettings>
